.button-bg-color{
    background-color: #1F458E;
}
.button-color{
    background-color: #91303F;
}
.text-red{
    color: #91303F;
    font-size: 68px;
}
.main-text{
    color: #00235B;
    font-size: 35px;
}
.text-color{
    color: #00235B;
}   
.comminication{
    font-size: 35px;
}
.button-ml{
    margin-left: 80px;
}
.main-margin{
    margin-top: 96px;
}
.bg-gradiend{
    background: rgb(34,76,144);
    background: linear-gradient(266deg, rgba(34,76,144,1) 19%, rgba(17,38,78,1) 100%);
}
.section{
    margin-top: 8rem;
}   
.top{
   margin-top: 180px;
}
